h1 { background-color : #022950;
    color: white;
    padding-left: 60px;
    padding-bottom: 50px;
    padding-top: 20px;
    }

.section {
    float: left;
    }


a href { text-align: center;
    }

body { margin-left: 100px;
       margin-right: 100px;
}