body {
    background-color: #ffddcc;
    color:gray;
}

header, main, nav, footer {
    text-align: center;
}

h1 {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 4em;
    margin-bottom: 0px;
    color:white;
}

nav a {    /*links within "nav" container*/
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none; /*removes underline */
    color: white;    /* by default, links are blue */
}

nav a:hover { /*pseudo class*/
    border-bottom:2px #ccccff solid;
    font-size: 2em;
    transition: .9s; /*transition effect */
}

.content {
    margin: 0px auto;
    width: 75%;
}

#me, #welcomeText {
    float:left;
    background-color: #fff2e6;
    
}

#welcomeText {
    
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    
}

footer {
    clear: left;
    font-size: smaller;
    color: white;
}

table { margin: 0px auto;

}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: white;
}

#table-header {
    background-color: #996666;
}

.table-row {
    background-color: #b8a9c9;
}

ul {
    margin: 0px auto;
    text-align: left;
    padding-left: 200px;
}

.hobby {
    color: gray;
}